.pai{
    display: flex;
    align-items: start;
    gap: 10em;
    row-gap: 10em;
}

.pai img {
   display: flex;
   width: 30em;
   display: flex;
   padding: 10px;
   margin-left: 20em;
   background-color: #d89300;
   width: 10;
   row-gap: 10;
}

.texto1 {
    display: flex;
    text-align: center;
    color: #4b352a;
    background-color: #e8e8e8;
    justify-content: space-between;
    flex-direction: column;
}

.buttonC {
    display: flex;
    gap: 1em;
    text-align: end;
    color: gold;
    background-color: #5c4033;
    border-style: outset;
    padding: 0.5em 1em;
}

.texto2 {
    text-align: center;
    align-items: center;
}

.filhoimg2 {
    display: flex;
    width: 20em;
    padding: 10px;
    margin-left: 0.8em;
    row-gap: 10;
}

.filhoimg3 {
    display: flex;
    width: 20em;
    padding: 10px;
    margin-left: 28em;
    row-gap: 10;
}