/*Cores-filtros  */

#cores input {
    margin-top: 8px;
    margin-right: 6px;



}

.cors {


    border: 1px solid #D3C093;
    width: 24px;
    height: 21px;
    cursor: pointer;
    border-radius: 3px;

}

#preto {
    background-color: #000000;

}

#rosa-choque {
    background-color: #F935A7;

}

#bege {
    background-color: #B6AF9C;

}

#ciano {
    background-color: #22BAAD;

}

#roxo {
    background-color: #9F22A4;

}

#branco {
    background-color: white;

}

#vermelho {
    background-color: #C9103A;

}

#azul {
    background-color: #036798;

}

#marrom {
    background-color: #7A3C29;

}

#rosa-claro {
    background-color: #FDC9E0;

}

#roxo-claro {
    background-color: #B899DF;
}

#amarelo {
    background-color: #EAA43D;
}

#laranja {
    background-color: #BD7117;
}

#verde-musgo {
    background-color: #2F3E2B;
}

#amarelo-claro {
     background-color: #F8FABC ;
}

#verde{
    background-color: #A1FF55;


}

#vinho{
background-color: #5E0F13;

}