* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#h1m {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 2.5rem;
}


.product-section {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
   
}

.biquini {
    background-color: #fff;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: all 0.3 ease;
    
}

.biquini img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.biquini h3 {
    margin-top: 10px;
    font-size: 1.2rem;
}

.biquini p {
    font-size: 1rem;
    margin-top: 5px;
}
.biquini:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 1024px) {
    .product-container {
        grid-template-columns: repeat(3, 1fr); 
    }
}


@media (max-width: 768px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {
    .product-container {
        grid-template-columns: 1fr; 
    }

    h1 {
        font-size: 2rem;
    }
}
